input[type='text'] {
    width: 350px;
}
input[type='email'] {
    width: 90%;
}

.hidden {
    display: none;
}

.email-hidden {
    display: none;
}

.phone-active {
    display: inline !important;

}

.email-active{
    display: block;
}

.phone-position {
    width: 90% !important;
    display: inline;
}

label {
    display: block;
}

.btn-hidden {
    border: 2px solid deepskyblue;
    outline: none;
}
input[type='checkbox']:checked ~ .toggled
{
    display: block;
}

input[type='checkbox'] ~ .toggled
{
    display: none;
}

.email {
    display: inline !important;
}

    /*  ------------------------------- */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    width: 100%;
    /*height: 100;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header
{
    width: 100%;
    min-height: 57px;
    background: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
}

header a
{
    text-decoration: none;
    font-size: 1.5rem;
    display: inline-block;
    background: #28a745;
    padding:5px 10px;
    border-radius: 5px;
    color: white;
}
.main_form
{
    padding: 20px;
    border: 1px solid #28a745;
    border-radius: 5px;
    margin-top: 200px;
}

[type="text"]
{
    border: 1px solid #28a745;
    border-radius: 5px  ;
    width: 550px;
    padding: 5px 15px;
}

input[type='search']
{
    padding: 9px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.btn-search
{
    padding: 9px;
    background-color: #f8f9fa;
    border: 1px solid #28a745;
    border-radius: 5px;
    color: #28a745;
}

.phone-number
{
    display: inline-block;
}

input[type='checkbox']::before
{
    content: '+';
    color: white;
    font-size: 24px;
    position: absolute;
    top: -1px;
    left: 5px;
}
input[type='checkbox']{
    position: relative;
    border-radius: 50%;
    top: 7px;
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
    background: #28a745;
    outline: none;
}

input[type='checkbox']:checked{
    outline: none;
}
input[type='checkbox']:checked::before{
    content: '-';
    color: white;
    position: absolute;
    top: -3px;
    left: 8px;
}

.btn-save {
    display: inline-block;
    background: #28a745;
    padding:5px 10px;
    border-radius: 3px;
    border: none;
    color: white;
    margin-top: 25px;
    float: right;
}